<div class="ingredients">
  <h1>Select all the ingredients you have!</h1>

  <section class="ingredients__section section">
<<<<<<< HEAD
    <h2>Liquors</h2>
    <ul class="section__list list-unstyled">
      <% @user_ingredients.each do |ui| %>
          <% if ui.ingredient.category == 'liquor' %>
            <li data-controller='prevent-reload-on-select'>
              <%= link_to toggle_selected_path(ui) do %>
                <% if ui.selected == false %>
                  <div class="card">
                    <div class="img-container">
                      <%= image_tag "#{ui.ingredient.src_path}" %>
                    </div>
                    <p><%= ui.ingredient.name.capitalize %></p>
                  </div>
                <% else %>
                  <div class="card selected">
                    <div class="img-container">
                      <%= image_tag "#{ui.ingredient.src_path}" %>
                    </div>
                    <p><%= ui.ingredient.name.capitalize %></p>
                  </div>
                <% end %>
              <% end %>
            </li>
=======
    <ul class="list-unstyled section__list">
      <% @user_ingredients.each do |user_ingredient| %>
        <li>
          <%= link_to toggle_selected_path(user_ingredient) do %>
            <% if user_ingredient.selected == false %>
              <div class="card">
                <p>
                  <%= user_ingredient.ingredient.name %>
                </p>
              </div>
            <% else %>
              <div class="card selected">
                <p>
                  <%= user_ingredient.ingredient.name %>
                </p>
              </div>
            <% end %>
>>>>>>> master
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Next", recipes_path, class: 'section__btn' %>
  </section>
</div>
