<div class='ingredients'>
  <h1>Select <span style='color:goldenrod'>up to 5</span> ingredients!</h1>
  <section class="ingredients__section section">
    <ul class="list-unstyled section__list">
      <% @user_ingredients.each do |user_ingredient| %>
        <li data-controller='prevent-reload-on-select'
            data-prevent-reload-on-select-target='button'
            data-action='click->prevent-reload-on-select#prevent'>
          <%= link_to toggle_selected_path(user_ingredient) do %>

            <div class="card  <%= 'selected' if user_ingredient.selected  %>"
                 data-prevent-reload-on-select-target='card'
                 id='<%= user_ingredient.id %>'>
              <p>
                <%= user_ingredient.ingredient.name %>
              </p>
            </div>

          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
    <%= link_to "Next", recipes_path, class: 'section__btn' %>
</div>
<%= render "shared/loader" %>
