<div class="ingredients">
  <h1>User Ingredients</h1>

  <section class="ingredients__section section">
    <h2>Liquors</h2>
    <ul class="section__list list-unstyled">
      <% @user_ingredients.each do |ui| %>
          <% if ui.ingredient.category == 'liquor' %>
            <li>
              <%= link_to toggle_selected_path(ui) do %>
                <% if ui.selected == false %>
                  <div class="card">
                    <div class="img-container">
                      <%= image_tag "#{ui.ingredient.src_path}" %>
                    </div>
                    <p><%= ui.ingredient.name.capitalize %></p>
                  </div>
                <% else %>
                  <div class="card selected">
                    <div class="img-container">
                      <%= image_tag "#{ui.ingredient.src_path}" %>
                    </div>
                    <p><%= ui.ingredient.name.capitalize %></p>
                  </div>
                <% end %>
              <% end %>
            </li>
          <% end %>
      <% end %>
    </ul>
  </section>

  <%= link_to "Next", root_path, class: "next-link" %>
</div>

<%# image_tag "ing_icons-pngs/png-liquors/gin.png" %>
<%# image_tag "ingredient_icons-svgs/svg-liquors/rum.svg" %>
