
<div class="container" style="justify-content: flex-start;">
  <h1>Select all the ingredients you have!</h1>

  <h2>Liquors</h2>
  <div class="liquors" style="width: 80%; margin-bottom: 3rem;">
    <ul class="list-unstyled" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
      <% @liquors.each do |liquor| %>
        <li>
          <div style="width: 120px; height: 80px; border: 1px solid lightgray; display: flex; justify-content: center; align-items: center; border-radius: 5px;">
            <p style="text-align: center; margin-bottom: 0;"><%=  liquor.name  %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h2>Liqueurs</h2>
  <div class="liqueurs" style="width: 80%; margin-bottom: 3rem;">
    <ul class="list-unstyled" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
      <% @liqueurs.each do |liqueur| %>
        <li>
          <div style="width: 120px; height: 80px; border: 1px solid lightgray; display: flex; justify-content: center; align-items: center; border-radius: 5px;">
            <p style="text-align: center; margin-bottom: 0;"><%=  liqueur.name  %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h2>Syrups</h2>
  <div class="syrups" style="width: 80%; margin-bottom: 3rem;">
    <ul class="list-unstyled" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
      <% @syrups.each do |syrup| %>
        <li>
          <div style="width: 120px; height: 80px; border: 1px solid lightgray; display: flex; justify-content: center; align-items: center; border-radius: 5px;">
            <p style="text-align: center; margin-bottom: 0;"><%=  syrup.name  %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <h2>Juices</h2>
  <div class="juices" style="width: 80%; margin-bottom: 3rem;">
    <ul class="list-unstyled" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 1rem;">
      <% @juices.each do |juice| %>
        <li>
          <div style="width: 120px; height: 80px; border: 1px solid lightgray; display: flex; justify-content: center; align-items: center; border-radius: 5px;">
            <p style="text-align: center; margin-bottom: 0;"><%=  juice.name  %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="ingred-button">
  <%= link_to "Next", new_user_tool_path, class: "btn btn-primary col-12" %>
</div>
</div>
