<div class="recipes">
  <h1>C O C K T A I L S</h1>

    <h3 class="cocktail-display"> Check out our <%= @filter_data.count %> cocktails!</h3>
  <ul class="list-unstyled recipes__list">
    <% @filter_data.each do |recipe| %>
      <li>
        <%= link_to recipe_path(recipe["idDrink"]), class: "recipe-link" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(<%= recipe["strDrinkThumb"] %>)">
            <h2><%= recipe["strDrink"] %></h2>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Back to Ingredients", user_ingredients_path, class: "recipes__btn" %>
</div>
